<!-- Test a good module.xml with a good platform.xml -->
<?xml version="1.0" encoding="UTF-8" ?>
<module name="test" file="./tests/003/module.prl">
    <system>
        <username name="disc"  line="6">
            <sysname name="Disc">
                <parameters>
                    <CHAR>'/tmp/'</CHAR>
                    <FIXED>10</FIXED>
                </parameters>
            </sysname>
        </username>

        <username name="output"  line="7">
            <sysname name="StdOut">
            </sysname>
        </username>
    </system>
    <problem>
        <spc type="dation" name="disc" line="31">
            <attributes>SYSTEM,INOUT</attributes>
            <data>ALL</data>
        </spc>
        <spc type="dation" name="output" line="32">
            <attributes>SYSTEM,OUT</attributes>
            <data>ALPHIC</data>
        </spc>
    </problem>
</module>

