<?xml version="1.0" encoding="UTF-8" ?>
<module name="ok"  file="/home/debian/matthias1.prl">
    <system>
        <username name="remoteBits4"  line="11">
            <sysname name="PCF8574Out">
                <parameters>
                    <BIT>'21'B4</BIT>
                    <FIXED>5</FIXED>
                    <FIXED>2</FIXED>
                </parameters>
                <association name="i2cbus1">
                </association>
            </sysname>
        </username>

        <username name="remoteBits5"  line="14">
            <sysname name="PCF8574Out">
                <parameters>
                    <BIT>'20'B4</BIT>
                    <FIXED>7</FIXED>
                    <FIXED>2</FIXED>
                </parameters>
                <association name="i2cbus2">
                </association>
            </sysname>
        </username>
    </system>
</module>

