<!-- Test where username does not contain systemname -->
<?xml version="1.0" encoding="UTF-8" ?>
<module name="test" file="./tests/008/module.prl">
    <system>
        <username name="LongDationUserName" line="6">
        </username>
    </system>
    <problem>
        <spc type="dation" name="LongDationUserName" line="31">
            <attributes>SYSTEM,INOUT</attributes>
            <data>ALL</data>
        </spc>
    </problem>
</module>

